{% load static %}

{% load bootstrap5 %}

{% bootstrap_css %}
{% bootstrap_javascript %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}  {% endblock %} </title>
</head>
<body>
    
    <nav class="navbar navbar-expand-sm navbar-dark bg-success">
        <div class="container ">
            <a class="navbar-brand" href="{% url 'index'%}">Sondeos</a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'index'%}" aria-current="page">Inicio<span class="visually-hidden">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sondeos</a>
                </li>            
                <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                </li>                            
            </ul>        
        </div>
        </div>
    </nav>

    <br>
    <div>
        <div class="float-end">
        {% if user.is_authenticated %}          
            <span class =" shadow p-3">{{user.username}}</span>
            <a name="" id="" class="btn btn-success" href="{% url 'cerrar_sesion'%}" role="button">Cerrar sesion</a>            
        {% else %}
            <a name="" id="" class="btn btn-success" href="{% url 'login'%}" role="button">Iniciar sesion</a>
            <a name="" id="" class="btn btn-success" href="{% url 'singup'%}" role="button">Registrarse</a>    
        {% endif %}
        </div>
    </div>
    <br>
    <br>
    <br>
    {% block content %}

    {% endblock %}

    <footer class="pt-3">
        <p class="text-center">Derechos reservados.</p>
    </footer>

</body>
</html>


