{% extends 'base.html' %}
{% load static%}
{% block title %}Contestar{% endblock  %}

{% block content %}
<div class="container">        
    <H3 class="text-center">A continuacion podrás encontrar las encuestas que puedes contestar </h3>
    <div class="row pt-5">
        {% for sondeo in sondeos %}             
            {% if sondeo.visible %}
            <div class="card border-primary col-3 sm-auto">
                {% if sondeo.img %}
                <img class="card-img-top mt-1" src="{{sondeo.img.url}}" alt="Title">
                {% else %}
                <img class="card-img-top mt-1" src="{% static 'img/carousel.jpg'%}" alt="Title">
                {% endif %}
                <div class="card-body">
                     <h4 class="card-title">{{sondeo.tipo}}</h4>
                     <p>Fecha de cierre:{{sondeo.fecha_c}}</p>
                     <p>Hora cierre: {{sondeo.hora_c}}</p>
                     <p>Tematica: {{sondeo.tematica}}</p>
                     <a name="" id="" class="btn btn-success" {% if user.is_authenticated %} href="{% url 'contestar'%}" {%else%} href="{%url 'singup'%} {%endif%}" role="button">contestar</a>                        
                </div>          
            </div>               
            <div class="col-1">
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock  %}