{% extends 'base.html' %}
{% load static %}

{% block title %}Sondeos{% endblock  %}

{% block content %}
    <div class="container">
        <div id="carouselId" class="carousel slide mx-auto" data-bs-ride="carousel" style="max-width: 800px">
            <ol class="carousel-indicators">
                <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active" aria-current="true" aria-label="First slide"></li>
                <li data-bs-target="#carouselId" data-bs-slide-to="1" aria-label="Second slide"></li>                
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <img src="{% static 'img/carousel.jpg' %}" alt=""class="w-100 d-block rounded" alt="First slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Title</h3>
                        <p>Description</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/carousel.jpg' %}" class="w-100 d-block rounded" alt="Second slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Title</h3>
                        <p>Description</p>
                    </div>
                </div>                
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        {% comment %} Automaticamente se publicarán los sondeos recientes {% endcomment %}

        <br>
        <br>
        <br>

        <div class="row ">
        {% for sondeo in sondeos %}             
            {% if sondeo.visible %}
            <div class="card border-primary col-3 sm-auto">
                {% if sondeo.img %}
                <img class="card-img-top mt-1" src="{{sondeo.img.url}}" alt="Title">
                {% else %}
                <img class="card-img-top mt-1" src="{% static 'img/carousel.jpg'%}" alt="Title">
                {% endif %}
                <div class="card-body">
                     <h4 class="card-title">{{sondeo.tipo}}</h4>
                     <p>Fecha de cierre:{{sondeo.fecha_c}}</p>
                     <p>Hora cierre: {{sondeo.hora_c}}</p>
                     <p>Tematica: {{sondeo.tematica}}</p>
                     <a name="" id="" class="btn btn-success" {% if user.is_authenticated %} href="{% url 'contestar'%}" {%else%} href="{%url 'singup'%} {%endif%}" role="button">contestar</a>                        
                </div>          
            </div>               
            <div class="col-1">
            </div>
            {% endif %}
        {% endfor %}
        </div>

    </div>
{% endblock  %}