{% extends 'base.html' %}

{% load bootstrap5%}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %} Log-in {% endblock %}

{% block content %}
{% comment %} contenido del login {% endcomment %}
    <div class="container text-center border p-5 my-5 w-50 h-75 shadow" style=""> 
        <h2>Log-in</h2>
        <div class=""> 
            <form action="" method="post" class=""> 
                {% csrf_token %}
                {% comment %} llamado del backend para traer el formulario de auticar {% endcomment %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-success mt-5 w-50">Log-in</button>
                <a href="{% url 'registro' %}" class="btn btn-primary">registrarse</a>
            </form>
        </div>
    </div>
{% endblock %}